<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>about page</title>

</head>

<body>
    {{> header}}
    {{> navigation}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum doloribus commodi deserunt, dolorem
        ipsum
        exercitationem nobis odit. Dignissimos totam voluptatem unde nobis id. Quas esse sit cupiditate perferendis
        delectus beatae!</p>
    <p>testestes</p>
    {{> footer}}

</body>




</html>